<app-my-nav>
  <app-content></app-content>
</app-my-nav>

















<!--<mat-sidenav-container class="example-container" >-->
  <!--<mat-sidenav [opened]="!media.isActive('xs')" mode="side">Start content</mat-sidenav>-->
  <!--&lt;!&ndash; <mat-sidenav opened mode="side" position="end">End content</mat-sidenav> &ndash;&gt;-->
  <!--<div [class.alternative]="otherTheme" >-->

  <!--<mat-toolbar color="primary">-->
      <!--<mat-toolbar-row>-->
        <!--<span>Material App</span>-->
        <!--<span class="example-spacer"></span>-->
        <!--<mat-icon class="example-icon">favorite</mat-icon>-->
        <!--<mat-icon class="example-icon">delete</mat-icon>-->
      <!--</mat-toolbar-row>-->
    <!--</mat-toolbar>-->

  <!--<div fxLayout="column">-->
    <!--<div fxFlex="40%">-->
      <!--<section class="example-section">-->
        <!--<button (click)="changeTheme()" mat-raised-button color="primary">Change theme</button>-->
      <!--</section>-->
    <!--</div>-->
    <!--<div fxFlex="60%" class="k">-->
    <!--<div fxLayout="row wrap"-->
         <!--fxLayoutGap="10%"-->
    <!--fxLayout.lt="column"-->
        <!--&gt;-->
      <!--<button mat-raised-button color="accent" class="k1">button1</button>-->
      <!--<button mat-raised-button color="accent" class="k1">button1</button>-->


      <!--<button mat-raised-button color="accent" class="k1">button1</button>-->
      <!--<button mat-raised-button color="accent" class="k1">button1</button>-->
    <!--</div>-->

  <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--</mat-sidenav-container>-->


<!--<mat-card class="example-card">-->


<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title>Shiba Inu</mat-card-title>-->
<!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--<mat-card-content>-->
<!--<p>-->
<!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--bred for hunting.-->
<!--</p>-->
<!--</mat-card-content>-->
<!--<mat-card-actions>-->
<!--<button mat-raised-button color="accent">LIKE</button>-->
<!--<button mat-raised-button color="accent">SHARE</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->
